<div bsModal #childModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="dialog-child-name">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 id="dialog-child-name" class="modal-title pull-left">Edit monitor({{selected?.name}})</h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="hide()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body" *ngIf="selected">

        <div class="form-group">
          <label for="">Mode</label>
          <select [(ngModel)]="selected.mode" class="form-control">
            <option *ngFor="let mode of modes" [ngValue]="mode.id">{{mode.name}}</option>
          </select>
        </div>
        <div class="form-group">
          <label for="">Name</label>
          <input type="text" [(ngModel)]="selected.name" class="form-control"/>
        </div>
        <!--<div class="form-group">-->
          <!--<label for="">Protocol</label>-->
          <!--<input type="text" [(ngModel)]="selected.protocol" class="form-control"/>-->
        <!--</div>-->
        <!--<div class="form-group">-->
          <!--<label for="">Host</label>-->
          <!--<input type="text" [(ngModel)]="selected.host" class="form-control"/>-->
        <!--</div>-->
        <!--<div class="form-group">-->
          <!--<label for="">Port</label>-->
          <!--<input type="text" [(ngModel)]="selected.port" class="form-control"/>-->
        <!--</div>-->
        <div class="form-group">
          <label for="">Path</label>
          <input type="text" [(ngModel)]="selected.path" class="form-control"/>
        </div>
        <div class="form-group">
          <label for="">Fps</label>
          <input type="number" [(ngModel)]="selected.fps" class="form-control"/>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" (click)="update()">Save changes</button>
      </div>
    </div>
  </div>
</div>

<script>
  // $.aM.e.on('change','[detail="auto_host"]',function(e){
  //   var isRTSP = false
  //   var inputType = $.aM.e.find('[name="type"]').val()
  //   var url = $(this).val()
  //   var theSwitch = $.aM.e.find('[detail="auto_host_enable"]')
  //   var disabled = theSwitch.val()
  //   if(!disabled||disabled===''){
  //     //if no value, then probably old version of monitor config. Set to Manual to avoid confusion.
  //     disabled='0'
  //     theSwitch.val('0').change()
  //   }
  //   if(disabled==='0'){
  //     return
  //   }
  //   if(inputType === 'local'){
  //     $.aM.e.find('[name="path"]').val(url).change()
  //   }else{
  //     var urlSplitByDots = url.split('.')
  //     var has = function(query,searchIn){if(!searchIn){searchIn=url;};return url.indexOf(query)>-1}
  //     var protocol = url.split('://')[0]
  //     console.log(url.split('://'))
  //     //switch RTSP, RTMP and RTMPS to parse URL
  //     if(has('rtsp://')){
  //       isRTSP = true;
  //       url = url.replace('rtsp://','http://')
  //     }
  //     if(has('rtmp://')){
  //       isRTMP = true;
  //       url = url.replace('rtmp://','http://')
  //     }
  //     if(has('rtmps://')){
  //       isRTMPS = true;
  //       url = url.replace('rtmps://','http://')
  //     }
  //     //parse URL
  //     var parsedURL = document.createElement('a');
  //     parsedURL.href = url;
  //     var pathname = parsedURL.pathname
  //     if(url.indexOf('?') > -1){
  //       pathname += '?'+url.split('?')[1]
  //     }
  //     $.aM.e.find('[name="protocol"]').val(protocol).change()
  //     if(isRTSP){
  //       $.aM.e.find('[detail="rtsp_transport"]').val('tcp').change()
  //       $.aM.e.find('[detail="aduration"]').val(1000000).change()
  //       $.aM.e.find('[detail="probesize"]').val(1000000).change()
  //     }
  //     $.aM.e.find('[detail="muser"]').val(parsedURL.username).change()
  //     $.aM.e.find('[detail="mpass"]').val(parsedURL.password).change()
  //     $.aM.e.find('[name="host"]').val(parsedURL.hostname).change()
  //     $.aM.e.find('[name="port"]').val(parsedURL.port).change()
  //     $.aM.e.find('[name="path"]').val(pathname).change()
  //     delete(parsedURL)
    //}
  //})

</script>
<!--<div class="modal fade" id="newModal" tabindex="-1" role="dialog" #modal aria-labelledby="newModalLabel"-->
     <!--aria-hidden="true">-->
  <!--<div class="modal-dialog modal-lg" role="document">-->
    <!--<div class="modal-content">-->
      <!--<div class="modal-header">-->
        <!--<h5 class="modal-title" id="exampleModalLabel">New monitor</h5>-->
        <!--<button type="button" class="close" data-dismiss="modal" aria-label="Close">-->
          <!--<span aria-hidden="true">&times;</span>-->
        <!--</button>-->
      <!--</div>-->
     <!---->
    <!--</div>-->
  <!--</div>-->
<!--</div>-->
